<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<H1>ADMIN PAGE</H1>
<h3>List of Users</h3>
<form method="POST"  th:action="@{/admin/add}">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="surname" placeholder="surname">
    <input type="password" name="password" placeholder="password">
    <input type="submit" class="submit" value="Submit">
</form>

<div th:each="user : ${users}" th:if="${user.deleted==false}">
    <a th:href="'/user/'+${user.username}"><span th:text="${user.getUsername()}"/></a>
</div><br>


<form name = "l" method="post" th:action="@{/logout}">
    <input type="submit" class="logout" value="Logout" name="logout"><br>
</form>

</body>
</html>